<input type="button" class="btn btn-default btn-primary" value="ADD RECORD" id="btnAddRecord" /><br />
<table class="table">
    <thead>
        <tr>
            <th>NAME</th>
            <th>ADDRESS</th>
            <th>STANDARD</th>
            <th>AGE</th>
            <th>HOBBY</th>
            <th>GENDER</th>
            <th>STATE</th>
            <th>CITY</th>
            <th>PINCODE</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody id="setstudent">
        <tr id="status"></tr>
    </tbody>
</table>

<script src="~/Scripts/Student.js"></script>